<a href="https://colab.research.google.com/github/ameliatoma10/Infrastruktur-big-data-11/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Amelia toma_225410007

In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import Row

In [3]:
spark = SparkSession.builder \
    .appName("Spark SQL Example") \
    .getOrCreate()

In [4]:
data = [
    Row(id=1, name="Alice", age=29),
    Row(id=2, name="Bob", age=31),
    Row(id=3, name="Cathy", age=22),
    Row(id=4, name="David", age=45),
    Row(id=5, name="Eva", age=35),
    Row(id=6, name="Frank", age=28),
    Row(id=7, name="Grace", age=32),
    Row(id=8, name="Hank", age=40),
    Row(id=9, name="Ivy", age=26),
    Row(id=10, name="Jack", age=38)
]

In [5]:
df = spark.createDataFrame(data)

In [6]:
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 29|
|  2|  Bob| 31|
|  3|Cathy| 22|
|  4|David| 45|
|  5|  Eva| 35|
|  6|Frank| 28|
|  7|Grace| 32|
|  8| Hank| 40|
|  9|  Ivy| 26|
| 10| Jack| 38|
+---+-----+---+

In [7]:
df.createOrReplaceTempView("people")

In [8]:
result = spark.sql("SELECT name, age FROM people WHERE age > 30")

In [9]:
result.show()

+-----+---+
| name|age|
+-----+---+
|  Bob| 31|
|David| 45|
|  Eva| 35|
|Grace| 32|
| Hank| 40|
| Jack| 38|
+-----+---+

In [10]:
spark.stop()